html {
  scroll-behavior: smooth;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#game_field {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
}

.insect {
  position: absolute;
  transition: width 2s;
  width: 100px;
  height: 100px;
}
.display_none {
  transition: 0.5s;
  display: none !important;
}

@media only screen and (max-width: 576px) {
  .insect {
    width: 60px;
    height: 60px;
  }
}
